<section id="warehouses">
  <h2>Galpões</h2>
  <div>
    <%= link_to 'Cadastrar Galpão', new_warehouse_path %>
  </div>
  <% @warehouses.each do |w| %>
    <%= link_to w.name, w %>
    <dl>
      <dt>Código: </dt>
      <dd><%= w.code %></dd>
      <dt>Cidade: </dt>
      <dd><%= w.city %></dd>
      <dt>Área: </dt>
      <dd><%= w.area %> m2</dd>
    </dl>
  <% end %>

  <% if @warehouses.empty? %>
    <p>Não existem galpões cadastrados.</p>
  <% end %>
</section>