
<h1>Galpão <%= @warehouse.code %></h1>
<h2><%= @warehouse.description %></h2>
<div>
  <strong>Nome:</strong> <%= @warehouse.name %>
  <strong>Cidade:</strong> <%= @warehouse.city %> <strong>Estado:</strong> <%= @warehouse.state %>
  <strong>Área:</strong> <%= @warehouse.area %> m2
  <strong>Endereço:</strong> <%= @warehouse.address %> <strong>CEP:</strong> <%= @warehouse.cep %>
</div>

<div>
  <h2>Itens em Estoque</h2>
  <% @stocks.each_pair do |pm, qty| %>
    <div>
      <%= qty %> x <%= pm.sku %> - <%= pm.name %>
    </div>
  <% end %>
</div>

<%= link_to 'Editar', edit_warehouse_path(@warehouse) %>
<%= button_to 'Remover', warehouse_path(@warehouse), method: :delete %>
<%= link_to 'Voltar', root_path %>
